body,
html {
    margin: 0%;
    padding: 0%;
}

header {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    background-image: url("/media/images/legend1.jpg");
}